/* ------------- TELA DO CARRINHO ------------- */

.info-preview, .carrinho-preview{
    overflow:auto;
    position: fixed;
    transform: translate(-50%, -50%);
    justify-content: space-between;
    z-index: 6;

    top: 50%;
    left: 50%;

    background-color: rgb(241, 241, 241);
    min-height: 85%;  max-height: 95%;
    min-width: 70%; max-width: 85%;
    border-radius: 10px;
    padding: 13px 14px 15px 14px;

    box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.info-preview .details, .carrinho-preview .details{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 13px 14px 15px 14px;
}

.shadow{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.details h1{
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
    right: 0;
}

.details .close-icon{
    color: rgba(0, 0, 0, 0.65);
    font-size: 25px !important;
    margin-bottom: 2%;
}

.close-icon:hover{
    color: rgba(0, 0, 0, 0.45);
    cursor: pointer;
}

/* ------------- VALOR TOTAL ------------- */



.total-txt{
    display: flex;
    align-items: center;
    position: relative;
    right: 0;
    bottom: 0;
    margin: 4% 2% 2% 2%;
}

.product-carrinho{
    border: 1px solid rgba(0,0,0,0.08);
    background-color: rgb(247, 247, 247);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;

    display: flex;
    align-self: center;
    margin: -2% 2% 2% 2%;
    padding: 1%;
}

.product-img-carrinho{
    border: 1px solid rgba(0,0,0,0.08);
    background-color: rgb(247, 247, 247);
    height: 10%;
    width: 10%;
    border-radius: 10%;
    margin-right: 2%;
}

.btn-seguinte-carrinho{
    background-color: rgb(221, 111, 94); /* Green */
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 12px;

    position: relative;
    bottom: 0;
    margin: 4% 2% 2% 2%;
}
.btn-seguinte-carrinho:hover{
    cursor: pointer;
    background-color: rgba(221, 111, 94, 0.719);
}

.total-txt h1, .total-txt p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.total-txt h1{
    font-weight: lighter;
}

.product-carrinho-info{
    padding: 2%;
}

.product-carrinho-info .quantidade-produtos{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.product-carrinho-info .quantidade-produtos a{
    text-decoration: none;
    text-align: center;
    color: rgb(221, 111, 94);
    font-weight: 900;
}

.product-carrinho-info .quantidade-produtos a:hover{
    color: rgb(231, 74, 49);
    text-decoration: underline;
}