@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

body{
    background-color: rgb(247, 247, 247);
}

li{
    list-style-type: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.alert{
    background-color: #80ff86;
    padding: 20px 40px;
    min-width: 200px;
    position: fixed;
    z-index: 10;
    right: 0px;
    top: 7%;
    overflow: hidden;
    border-radius: 4px;
    border-left: 7px solid #3afd28;
}

.alert.show{
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{ transform: translateX(100%);}
    40%{ transform: translateX(-10%);}
    80%{ transform: translateX(0%);}
    100%{ transform: translateX(-10px);}
}

.alert.hide{
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide{
    100%{ transform: translateX(100%);}
    80%{ transform: translateX(-10%);}
    40%{ transform: translateX(0%);}
    0%{ transform: translateX(-10px); display: none;}
}

.alert .shopping{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #15a108;
    font-size: 30px;
}

.alert .msg{
    padding: 0px 20px;
    font-size: 18px;
    color: #15a108;
    font-family: 'Poppins', sans-serif;
}

.alert .close-btn{
    position: absolute;
    background: #5ad865;
    right: 0px;
    padding: 16px 11px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.close-btn:hover{
    background-color: #4cc456;
}

.close-btn .cancel{
    color: #15a108;
    font-size: 22px;
    line-height: 40px;

}

/*---------------- NAV BAR ----------------*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    background-color: rgba(240, 240, 240, 0.507);

    box-shadow: -2px 1px 2px 1px rgba(0, 0, 0, 0.1);
}

.title{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 4px;
    color: rgb(46, 46, 46);
}

.navbar-info{
    display: flex;
    align-items: center;
    margin: 20px;
}

.navbar-info i{
    font-size: 35px !important;
    margin-right: 5px;
    color: rgba(58, 58, 58, 0.945);
}

.navbar-info .shopping-cart:hover{
    cursor: pointer;
    color: rgba(58, 58, 58, 0.6);
}

.navbar-info .info-carrinho p, .navbar-info .info-telefone p{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 6px;
    color: rgba(0, 0, 0, 0.562);
}

.navbar-info div h4{
    font-weight: 400;
    letter-spacing: 1px;
}

.icon-carrinho{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 6%;
}

.qnt-carrinho{
    margin-left: -40%;
    margin-top: -40%;
    padding: 0px;
    width: 24px;
    height: 24px;
    font-weight: 600;

    text-align: center;
    color: white;
    background-color: rgb(238, 64, 37);
    border-radius: 50%;
}

/*---------------- NAV BAR ----------------*/

.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 14px;
    padding-bottom: 14px;
    padding-left: 20%;
    padding-right: 20%;
}

.menu-item{
    font-family: 'Roboto', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6%;
    margin-top: 1%;

    position: relative;
    color: rgb(20, 20, 20);
}

.menu-item p{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;

}

.menu-item i{
    font-size: 10px !important;
    margin-right: 4px;
}

.menu-item p::before{
    content: '';
    display: block;
    height: 2px;
    background-color: #444;
    position: absolute;
    
    top: -10px;
    width: 0%;

    transition: all ease-in-out 200ms;
}

.menu-item p:hover::before{
    width: 70%;
    background-color: rgba(114, 114, 114, 0.911);
}

.menu-item:hover{
    color: rgba(85, 85, 85, 0.979);
    cursor: pointer;
}
/*---------------- ANUNCIO PRIMARIO ----------------*/

.anuncio img{
    min-width: 200px;
    max-width: 800px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.192));
}

.anuncio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.anuncio-descricao{
    justify-content: space-between;

    margin-left: -2%;
    height: 450px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.192));
}

.descricao{
    /*background-color: rgb(216, 164, 150);*/
    background-image: linear-gradient(-135deg, rgb(236, 184, 170), rgb(165, 118, 115));
    min-height: 80%;
    text-align: right;

    padding: 20px;
    padding-bottom: 50px;
}

.descricao h1{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: 700;
    font-style: italic;
    color: rgb(238, 238, 238);

    padding-bottom: 15px;
}

.descricao .desc{
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    color: rgb(238, 238, 238);

    padding-bottom: 10%;
}

.descricao .desc-anuncio{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 3px;
    color: rgb(238, 238, 238);
}

.descricao i{
    color: rgb(238, 238, 238);
}

.anuncio-imagens{
    background-color: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.anuncio-imagens img{
    max-height: 100px;
    max-width: 100px;

    padding: 10px;
}

.button {
    font-family: 'Roboto', sans-serif;
    color: rgb(238, 238, 238);
    letter-spacing: 1px;

    border: none;
    padding: 12px 30px 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 20px;
    transition: all ease-in-out 200ms;
}

.bSobre{
    background-color: rgb(78,69,64);
}
.bSobre:hover{
    cursor: pointer;
    color: rgb(48, 48, 48);
    background-color: rgba(78, 69, 64, 0.39);
}

.bProdutos{  
    background-color: rgb(195,107,93);
}
.bProdutos:hover{
    cursor: pointer;
    color: rgb(48, 48, 48);
    background-color: rgba(78, 69, 64, 0.39)
}

/*---------------- MAIS VENDIDOS ----------------*/

.destaques{
    margin: 3% 6% 7.5% 6%;
}

.destaques-title{
    display: flex;
    align-items: center;
    justify-content: left;
}

.products, #produtos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.destaques-title h1{
    color: rgba(36, 36, 36, 0.808);
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
}

.destaques-title i{
    color: rgba(36, 36, 36, 0.808);
    padding-right: 14px;
    font-size: 30px !important;
}

.title-complete{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-veja-mais{
    color: rgb(238, 64, 37);
    font-size: 1.4rem;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

.product-veja-mais:hover{
    color: rgba(238, 64, 37, 0.5);
}

hr{
    border-top: 1px solid rgba(26, 26, 26, 0.075);
    margin: 10px 0px 30px -10px;
}

.product-box{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5%;

    width: calc(95% / 4);
    border: 1px solid rgba(0,0,0,0.08);
    position: relative;

    text-decoration: none;
}

.image-box{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}

.product-img{
    width: 100%;
    height: 100%;
    display: flex;
}

.product-img a img{
    width: 100%;
    height: 100%;

    object-position: center;
    animation: fade 0.4s;

    border-radius: 5%;
}
.product-img-back{
    display: none;
 }
 .product-img-container:hover .product-img-back{
     display: block;
 }
 .product-img-container:hover .product-img-front{
     display: none;
 }

 .product-box-offer{
    position: absolute;
    right: 15px;
    top: 20px;
    width: 65px;
    height: 24px;
    color: #ffffff;
    background-color: rgb(221, 111, 94);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1px;
    transition: none !important;
    animation: none;
    z-index: 1;
}

.product-box-text{
    margin-top: 5px;
}
.product-title{
   color: #333333;
   font-weight: 600;
   transition: all ease 0.3s;
   text-decoration: none;
}
.product-title:hover{
   opacity: 0.7;
   transition: all ease 0.3s;
}
.product-category{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   flex-wrap: wrap;
   color: #ff25257c;
}
.product-category span{
   color: #acacac;
   font-size: 0.9rem;
   margin:5px 0px;
}
.price-buy{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 8px;
}
.price-buy .p-price{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
    color: #333333;
    font-weight: 700;
}
.price-buy .p-buy-btn{
   color: rgb(238, 64, 37);
   margin: 0px 5px;
   font-weight: 500;
   text-decoration: none;
}
.price-buy .p-buy-btn:hover{
   text-decoration: underline;
   font-size: 1.6rem;
   cursor: pointer;
}


/*---------------- RODAPÉ ----------------*/

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 25px 10px 25px 0px;
    background-color: #313131;
    color: white;
    text-decoration: none;
}

footer h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
}

.footer-text li{
    color: rgba(255, 255, 255, 0.534);
    list-style-type: none;
    text-decoration: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    padding: 4px;

    text-align: center;
}

.footer-text li a{
    color: rgba(255, 255, 255, 0.534);
    text-decoration: none;
}

.footer-text li:hover{
    color: rgba(255, 255, 255, 0.675);
}

.footer-text li a:hover{
    color: rgba(255, 255, 255, 0.675);
}

/*---------------- ANUNCIO SECUNDARIO ----------------*/
    
.slide img{
    width: 90%;
    height: 90%;
    margin: -20px 50px 50px 50px;
    border-radius: 10px;
}

.slide img:hover{
    cursor: pointer;
}